/* Estilos generales para el cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Estilo para la navegación */
nav {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 1;
    padding: 1;
}

nav ul li {
    display: inline;
    margin:  15px;
}

nav ul li a {
    color: rgb(253, 253, 253);
    text-decoration: none;
    padding: 10px 20px;
    background-color: #3c08b4;
    border-radius: 5px;
}

/* Estilo para la sección de contenido */
section {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para el pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
