header, footer {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px 0;
}

/* Estilo para las im치genes */
.miembros {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 im치genes en la primera fila */
    grid-template-rows: repeat(2, 200px); /* 2 filas */
    gap: 5px;
    padding: 5px;
    justify-items: center;
}

.imagen-miembro {
    width: 100%;
    height: 100px; /* Tama침o uniforme */
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Estilo para los botones */
.boton {
    display: inline-block;
    background: #4b89d1;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 10px;
}

.boton:hover {
    background: linear-gradient(45deg, #007009);
    transform: translateY(-4px);
}

/* Estilo para el pie de p치gina */
footer {
    padding: 10px;
    color: rgb(0, 0, 0);
}
